.container {
    display: flex;
    justify-content: space-between;
    z-index: -1;
  }

  .shadow{
    position: absolute;
    top: 0;
    left: 480px;
    width: 488px;
    height: 863px;
    background-color: rgba(0, 0, 0, 0.9); 
    filter: blur(80px); 
  }

  
    

  
  .image {
    width: 857px;
    flex: 0 0 auto; 
  }
  
  .text {
    margin-top: 159px;
    flex: 1; 
    font-family: "Ruda", sans-serif;
    font-weight: 700;
    font-size: 75px;
    line-height: 140%;
    text-transform: uppercase;
    color: #fff;
  }

  